.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.result-container {
    display: flex;
    justify-content: center;
}

.result {
    width: 350px;
    font-size: 50px;
    border-radius: 5px;
    height: 75px;
}

button {
    width: 85px;
    height: 75px;
    font-size: 25px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.number-container {
    margin-right: 4px;
}

.container {
    margin-top: 200px;
}

.operaBtn {
    background-color: orange;
}